/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 200; box-sizing: border-box; } 

body { 
    font-size: 15px; 
    line-height: 0.5px;
    font-family: Ubuntu, sans-serif;
    color: rgb(27, 27, 83);
}

h1 {
    font-size: 2.xrem;
    text-align: center;
    color:whitesmoke;
}

h2 {
    font-size: 8.xrem;
    text-align: left;
    
}

header, main, footer {
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 5000px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgba(14, 78, 43, 0.651);
    color: whitesmoke;
}

header img {
    width: 90; /*  */;
    height: 180;
    float: right;
}

footer {
    font-size: 16px /* smaller */;
}