/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 200; box-sizing: border-box; } 

body { 
    font-size: 15px; 
    line-height: 0.5px;
    font-family: Ubuntu, sans-serif;
    color: rgb(27, 27, 83);
}

h1 {
    font-size: 15.xrem;
    text-align: center;
    color:whitesmoke;
}

h2 {
    font-size: 5.xrem;
    text-align: center;
    border-bottom: .15px solid #bbb;
}

header, main, footer {
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 1000px;
}

header, footer, footer a {
    text-align: center;
    background-color: goldenrod;
    color: whitesmoke;
}

header img {
    width: 75; /*  */;
    height: 150;
    float: right;
}

footer {
    font-size: 16px /* smaller */;
}